<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principal</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% block styles %}
    {% endblock %}
</head>
<body>
    {% include 'base/header.html' %}
    <main>
        <div class="container">
            {% block content %}

            <section class="gallery">
                <div class="image-grid">
                    <img src="{% static 'img/imagen1.jpg' %}" alt="Imagen 1">
                    <img src="{% static 'img/imagen1.jpg' %}" alt="Imagen 2">
                    <img src="{% static 'img/imagen3.jpg' %}" alt="Imagen 3">
                    <img src="{% static 'img/imagen1.jpg' %}" alt="Imagen 4">
                    <img src="{% static 'img/imagen1.jpg' %}" alt="Imagen 5">
                    <img src="{% static 'img/imagen1.jpg' %}" alt="Imagen 6">
                    <img src="{% static 'img/imagen2.jpg' %}" alt="Imagen 7">
                    <img src="{% static 'img/imagen1.jpg' %}" alt="Imagen 8">
                    <img src="{% static 'img/imagen4.png' %}" alt="Imagen 9">
                </div>
            </section>
            <h2 class="news-title">noticias</h2>

            <section class="news">
                <div class="image-grid">
                    <img src="{% static 'img/imagen1.jpg' %}" alt="Noticia 1">
                    <img src="{% static 'img/imagen1.jpg' %}" alt="Noticia 2">
                    <img src="{% static 'img/imagen1.jpg' %}" alt="Noticia 3">
                    <img src="{% static 'img/imagen1.jpg' %}" alt="Noticia 4">
                    <img src="{% static 'img/imagen1.jpg' %}" alt="Noticia 5">
                    <img src="{% static 'img/imagen1.jpg' %}" alt="Noticia 6">
                    <img src="{% static 'img/imagen1.jpg' %}" alt="Noticia 7">
                    <img src="{% static 'img/imagen1.jpg' %}" alt="Noticia 8">
                    <img src="{% static 'img/imagen1.jpg' %}" alt="Noticia 9">
                </div>
            </section>
            
            {% endblock %}
        </div>
    </main>
    {% include 'base/footer.html' %}
</body>
</html>
