<!DOCTYPE html>
<html lang="es">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi Aplicación{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header>
        <h1>Mi Aplicación</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'orders' %}">Orders</a></li>
                <li><a href="{% url 'users' %}">Users</a></li>  <!-- Enlace a 'users' -->
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Mi Aplicación. Todos los derechos reservados.</p>
    </footer>
    {% block scripts %}{% endblock %}
</body>
</html>
